[Desktop Entry]
Name=Ruby Pulse
Comment=Linux-native system monitor and diagnostics platform
Exec=ruby-pulse
Icon=io.github.supunhg.ruby-pulse
Type=Application
Categories=System;Monitor;
Terminal=false
StartupNotify=true
